html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

body p, h1, h3  {
    color: var(--news-list-background-color);
}

body p {
    line-height: 2.5rem;
}

body a {
    transition: 0.3s ease-in-out;
}

body a:hover {
    transition: 0.3s ease-in-out;
    color: var(--secondary-color)
}

@media (max-width: 1000px) {
    body {
        padding: 0 2rem 7rem 2rem;
    }
}

/* MAIN */

/* - NEWS */

.main .news {
    display: grid;
    grid-template-areas:    "web-img web-img news-list"
                            "title news-description news-list";
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: 1.5fr 1fr;     
    gap: 3rem;
    margin-bottom: 7rem;            
}

.main .news .web-3-img {
    grid-area: web-img;
    background: url('../images/image-web-3-desktop.jpg') center center no-repeat;
    background-size: cover;
}

.main .news .title {
    grid-area: title;
}

.main .news .title h1 {
    font-size: 5.6rem;
    font-weight: 800;
    line-height: 6rem;
}

.main .news .news-description {
    grid-area: news-description;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.main .news .news-description .read-more-button {
    background-color: var(--primary-color);
    color: var(--font-button-color);
    text-transform: uppercase;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 0.6rem;
    width: 200px;
    transition: 0.3s ease-in-out;
}

.main .news .news-description .read-more-button:hover {
    background-color: var(--news-list-background-color);
}

.main .news .news-list {
    grid-area: news-list;
    background-color: var(--news-list-background-color);
}

.main .news .news-list-container {
    padding: 2.5rem;
    color: var(--news-list-font-color);
}

.main .news .news-list-title {
    color: var(--secondary-color);
    font-size: 3.6rem;
}

.main .news .news-list-container .new-item {
    padding: 3rem 0;
    border-bottom: 1px solid var(--news-list-font-color);
}

.main .news .news-list-container .new-item:nth-last-child(1) {
    padding-bottom: 0;
    border: none;
}

.main .news .news-list-container .new-item .title {
    font-size: 1.6rem;
    color: white;
    font-weight: 700;
    display: block;
    margin-bottom: 1rem;
    transition: 0.3s ease-in-out;
}

.main .news .news-list-container .new-item .title:hover {
    color: var(--secondary-color)
}

.main .news .news-list-container p {
    color: var(--news-list-font-color);
}

@media (max-width: 1000px) {
    .main .news {
        display: block; 
        margin-bottom: 7rem;  
    }

    .main .news .web-3-img {
        min-height: 350px;
        background: url('../images/image-web-3-mobile.jpg') center center no-repeat;
        background-size: cover;
        width: 100%;
        margin-bottom: 3rem;
    }

    .main .news .title {
        margin-bottom: 1rem;
    }

    .main .news .title .news-title {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .main .news .news-description {
        gap: 3rem;
        margin-bottom: 7rem;
    }
}

/* - NEWS */

/* - TRENDING NEWS */

.main .trending-news {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main .trending-news .trending-item {
    display: flex;
    gap: 3rem;
}

.main .trending-news .trending-item .trending-illustration {
    max-width: 100px;
}

.main .trending-news .trending-item .info {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 220px;
}

.main .trending-news .trending-item .info .number {
    font-size: 3rem;
    color: var(--trending-item-heading-color)
}

.main .trending-news .trending-item .info .title {
    font-size: 1.8rem;
    font-weight: 800;
    transition: 0.3s ease-in-out;
}

.main .trending-news .trending-item .info .title:hover {
    color: var(--primary-color);
}

@media (max-width: 1000px) {
    .main .trending-news {
        gap: 4rem;
    }
}

/* - TRENDING NEWS */

/* MAIN */